@media (max-width: 768px){

    /*##################### top #####################*/
    .top{
        position: fixed;
        z-index: 1;
    }
    .title{
       margin: 7px;
    }
    .menu a{
        width: 80px;
        height: 30px;
        padding: 0;
        text-align: center;
        line-height: 30px;
        margin: 2px;
    }

    /*##################### introduce #####################*/
    .introduce{
        padding-top: 80px;
    }
}