@media (max-width: 768px) {

    /*##################### start #####################*/
    .img {
        width: 100vw;
        height: 100vw;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .start {
        font-size: 10px;
    }

    .wrap_start {
        margin: 0;
        padding-bottom: 10px;
        height: 100px;
        font-size: 15px;
    }

    .start span {
        font-size: 15px;
    }

    /*##################### top #####################*/
    .top {
        width: 100vw;
        position: fixed;
        z-index: 1;
    }
    .title {
        display: block;
        width: 60vw;
        font-size: 20px;
        direction: bold;
        margin: 10px auto;
    }
    .menu {
        display: block;
        margin: 0;
        margin-left: 30px;
        float: unset;
    }
    .menu a {
        display: inline-block;
        width: 10vw;
        height: 10vw;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
    }
    

    /*##################### introduce #####################*/
    .introduce {}

    .wrap_introduce {
        width: 70%;
        height: 70%;
    }
    .introduce_inside{
        padding: 10px;
    }
    .introduce_inside h2,
    p {
        font-size: 20px;
        text-align: center;
    }
    .introduce_inside p {
        font-size: 15px;
    }
    /*##################### skills #####################*/
    .skills{
        width:100vw;
    }
    .do_skills{
        width: 70vw;
    }
    .wrap_skills{
        height: 70%;
    }
    .skills ul li {
        display: inline-block;
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        font-size: 20px;
        line-height: 100px;
        box-shadow: 5px 5px 5px gray;
        margin-right: 30px;
    }
    .skills ul li img {
        width: 100px;
        height: 100px;
    }
    /*##################### study #####################*/
    .study ul li{
        display: inline-block;
        background-color: white;
        width: 70vw;
        height: 20vh;
        border-radius: 10px;
        font-size: 20px;
        line-height: 100px;
        box-shadow: 5px 5px 5px gray;
        margin: 20px;

    }
    /*##################### experience #####################*/
    .experience{
        width: 100vw;
    }
    .wrap_experience{
        width:100vw;
    }
    .experience_info {
        display: block;
        margin: 0 auto;
        margin-top: 7%;
        width: 80%;
        height: 90%;
        font-size: 20px;
        background-color: #fff;
        border-radius: 10px;
    }
    .slick-slide {
        height: 300px;
    }
    .slick-next .slick-allow{
        display: none !important;
    }

}