@media (max-width: 1440px) {
    /*##################### top #####################*/
    .title {
        display: inline-block;
        width: 21vw;
        margin: 1vw auto;
        margin-left: 1vw;
    }

    .menu {
        width: 50vw;
    }

    .menu a {
        position: relative;
        font-size: 1.7rem;
        width: 10vw;
        margin-left: 1vw;
    }

    /*##################### start #####################*/

    /*##################### introduce #####################*/
    .wrap_introduce {
        width: 70vw;
        height: 60vh;
        margin-top: 4vh;
    }

    .introduce_inside {
        width: 60vw;
        height: 40vh;
    }

    .introduce_inside h2,
    p {
        margin-top: 2vh;
        font-size: 4vh;
        text-align: center;
    }

    .introduce_inside p {
        margin-top: 1vh;
        font-size: 2.5vh;
    }
    .introduce_inside a{
    display: block;
    width: 60vw;
    height: 5vh;
}

    .introduce_inside img {
    display: block;
    width: 6vh;
    margin: 0 auto;
}

    /*##################### skills #####################*/
    .do_skills {
        margin-top: -5vh;
    }

    .wrap_skills {
        width: 80vw;
        height: 70vh;
    }

    .skills ul li {
        width: 12vw;
        height: 12vw;
        margin: 5vh 7vw;
    }

    .skills ul li img {
        width: 100%;
        height: 100%;
    }

    /*##################### projects #####################*/
    .wrap_projects {
        width: 80vw;
        height: 67vh;
        margin-top: 0vh;
    }
    .wrap_projects ul li {
        width: 70vw;
        height: 20vh;
        border-radius: 10px;
        font-size: 1.5rem;
        line-height: 3vh;
        margin-top: 1.5vh;
        margin-left: 5vw;
        text-align: justify;
        vertical-align: bottom;
    }
    .wrap_projects ul li div{
        vertical-align: bottom;
    }

    .projects_link {
        display: inline-block;
        width: 30vh;
        height: 20vh;
        margin:0;
        margin-left: 2vw;
    }
    .projects_link img{
        width: 100%;
    }
        .projects_detail{
        display: inline-block;
        width: 35vw;
        height: 20vh;
        font-size: 2vh;
        line-height: 2.5vh;
        margin: 0;
        margin-left: 2vw;
    }
    /*##################### experiences #####################*/
    .wrap_experiences {
        margin-top: 0vh;
        padding-top: 13vh;
    }

    .experiences_info {
        margin: 0;
        margin-top: 1vh;
        margin-left: 11vw;
        width: 57vw;
    }
}
/* ########################################################################### */
@media (max-width: 1024px) {

    /*##################### top #####################*/
    .title {
        display: inline-block;
        width: 30vw;
        font-size: 2rem;
        margin: 1.5vw auto;
        margin-left: 2.5vw;
    }

    .menu {
        margin-top: 1vh;
        width: 60vw;
    }

    .menu a {
        position: relative;
        font-size: 1.5rem;
        width: 11vw;
        margin-left: 2vw;
    }

    /*##################### start #####################*/
    .wrap_start {
        margin-top: 11vh;
    }

    /*##################### introduce #####################*/
    .wrap_introduce {
        width: 70vw;
        height: 50vh;
        margin-top: 4vh;
    }

    .introduce_inside {
        width: 60vw;
        height: 30vh;
    }

    .introduce_inside h2,
    p {
        margin: 0;
        margin-top: 1.5vh;
        text-align: center;
    }
    .introduce_inside p {
        margin-top: 1vh;
    font-size: 2vh;
}
    .introduce_inside img {
    display: block;
    width: 5vh;
    margin: 0 auto;
}

    /*##################### skills #####################*/
    .do_skills {
        height: 15vh;
        font-size: 2vh;
    }

    .wrap_skills {
        width: 80vw;
        height: 70vh;
    }

    .skills ul li {
        width: 17vw;
        height: 17vw;
        line-height: 100px;
        margin:  2.5vh 11vw;
    }

    .skills ul li img {
        width: 100%;
        height: 100%;
    }

    /*##################### projects #####################*/
    .wrap_projects {
        width: 80vw;
        height: 67vh;
        margin-top: 0vh;
    }

    .wrap_projects ul li {
        width: 70vw;
        height: 20vh;
        border-radius: 10px;
        font-size: 2.5rem;
        line-height: 10vh;
        margin-top: 1.5vh;
        margin-left: 5vw;
    }
    .projects_link {
        display: inline-block;
        width: 20vh;
        height: 15vh;
        margin:0;
        margin-left: 2vw;
    }
    .projects_link img{
        margin-top: 2.5vh;
        width: 100%;
    }
        .projects_detail{
        display: inline-block;
        width: 25vw;
        height: 15vh;
        font-size: 2vh;
        line-height: 2.5vh;
        margin: 0;
        margin-left: 2vw;
    }

    /*##################### experiences #####################*/
    .wrap_experiences {
        margin-top: 0vh;
        width: 75vw;
        height: 55vh;
        padding-top: 7vh;
    }

    .experiences_info {
        margin-top: -0.6vh;
        margin-left: 12vw;
        width: 50vw;
        font-size: 2vh;
        line-height: 3vh;
    }
}
/* ########################################################################### */
@media (max-width: 768px) {

    /*##################### top #####################*/
    .title {
        display: inline-block;
        width: 27vw;
        font-size: 1.3rem;
        /* margin: 1.5vw auto; */
    }

    .menu {
        width: 60vw;
    }

    .menu a {
        position: relative;
        font-size: 1rem;
        width: 10vw;
        margin-left: 3vw;
    }

    /*##################### start #####################*/
    .wrap_start {
        margin-top: 12vh;
        font-size: 2rem;
    }

    /*##################### introduce #####################*/
    .wrap_introduce {
        width: 70vw;
        height: 50vh;
        margin-top: 4vh;
    }

    .introduce_inside {
        width: 60vw;
        height: 30vh;
    }

    .introduce_inside h2,
    p {
        margin-top: 2vh;
        font-size: 2rem;
        text-align: center;
    }

    .introduce_inside p {
        font-size: 1.5rem;
    }

    /*##################### skills #####################*/
    .do_skills {
    }

    .wrap_skills {
        width: 80vw;
        height: 70vh;
    }

    .skills ul li {
        width: 21vw;
        height: 21vw;
        line-height: 100px;
        margin-right: 4vw;
    }

    .skills ul li img {
        width: 100%;
        height: 100%;
    }

    /*##################### projects #####################*/
    .wrap_projects {
        width: 80vw;
        height: 67vh;
        margin-top: 0vh;
    }

    .wrap_projects ul li {
        width: 70vw;
        height: 20vh;
        border-radius: 10px;
        font-size: 1rem;
        line-height: 10vh;
        margin-top: 1.5vh;
        margin-left: 5vw;
    }

    /*##################### experiences #####################*/
    .wrap_experiences {
        height: 50vh;
        margin-top: 0vh;
        padding-top: 6.5vh;
    }

    .experiences_info {
        margin: 0;
        margin-top: 1vh;
        margin-left: 11vw;
        width: 57vw;
    }
}
/* ########################################################################### */
@media (max-width: 414px) {

    /*##################### top #####################*/
    .title {
        display: block;
        width: 50vw;
        text-align: center;
        font-size: 1.3rem;
        margin: 1.5vw auto;
    }

    .menu {
        width: 100vw;
    }

    .menu a {
        position: relative;
        font-size: 1rem;
        width: 10vw;
        margin-left: 9vw;
    }

    /*##################### start #####################*/
    .wrap_start {
        margin-top: 13vh;
        font-size: 1.3rem;
    }

    /*##################### introduce #####################*/
    .wrap_introduce {
        width: 70vw;
        height: 50vh;
        margin-top: 4vh;
    }

    .introduce_inside {
        width: 60vw;
        height: 30vh;
    }

    .introduce_inside h2,
    p {
        margin-top: 2vh;
        font-size: 2rem;
        text-align: center;
    }

    .introduce_inside p {
        font-size: 1.7vh;
    }

    /*##################### skills #####################*/
    .do_skills {
        top: 17vh;
        font-size: 1.5vh;
    }

    .wrap_skills {
        width: 80vw;
        height: 70vh;
        transform: translate(-50%, -40%);
    }

    .skills ul li {
        width: 21vw;
        height: 21vw;
        line-height: 100px;
        margin-right: 4vw;
    }

    .skills ul li img {
        width: 100%;
        height: 100%;
    }

    /*##################### projects #####################*/
    .wrap_projects {
        width: 80vw;
        height: 67vh;
        margin-top: 0vh;
    }

    .wrap_projects ul li {
        width: 70vw;
        height: 20vh;
        border-radius: 10px;
        font-size: 1rem;
        line-height: 10vh;
        margin-top: 1.5vh;
        margin-left: 5vw;
    }

    /*##################### experiences #####################*/
    .wrap_experiences {
        margin-top: 0vh;
        padding-top: 7vh;
        height: 70vh;
    }

    .experiences_info {
        margin: 0;
        margin-top: 1vh;
        margin-left: 11vw;
        width: 57vw;
        font-size: 1.5vh;
    }
}
/* ########################################################################### */
@media (max-width: 320px) {

    /*##################### top #####################*/
    .title {
        display: block;
        width: 50vw;
        text-align: center;
        font-size: 1.2rem;
        margin: 1.5vw auto;
    }

    .menu {
        width: 100vw;
    }

    .menu a {
        position: relative;
        font-size: 0.8rem;
        width: 10vw;
        margin-left: 6vw;
    }

    /*##################### start #####################*/
    .wrap_start {
        margin-top: 12vh;
        font-size: 1.2rem;
    }

    /*##################### introduce #####################*/
    .wrap_introduce {
        width: 70vw;
        height: 50vh;
        margin-top: 4vh;
    }

    .introduce_inside {
        width: 60vw;
        height: 30vh;
    }

    .introduce_inside h2,
    p {
        margin-top: 2vh;
        font-size: 1.5rem;
        text-align: center;
    }

    .introduce_inside p {
        font-size: 1.3rem;
    }

    /*##################### skills #####################*/
    .do_skills {
        font-size: 1.5rem;
    }

    .wrap_skills {
        width: 80vw;
        height: 70vh;
    }

    .skills ul li {
        width: 21vw;
        height: 21vw;
        line-height: 100px;
        margin-right: 4vw;
    }

    .skills ul li img {
        width: 100%;
        height: 100%;
    }

    /*##################### projects #####################*/
    .wrap_projects {
        width: 80vw;
        height: 67vh;
        margin-top: 0vh;
    }

    .wrap_projects ul li {
        width: 70vw;
        height: 20vh;
        border-radius: 10px;
        font-size: 1rem;
        line-height: 10vh;
        margin-top: 1.5vh;
        margin-left: 5vw;
    }

    /*##################### experiences #####################*/
    .wrap_experiences {
        margin-top: 0vh;
        padding-top: 7vh;
    }

    .experiences_info {
        margin: 0;
        margin-top: -4vh;
        margin-left: 11vw;
        width: 57vw;
    }
}

