/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;
}
ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: right;
    list-style: none;
    position: relative;
}

li {
    display: inline-block;
    margin: auto;
    text-align: center;
}
/*##################### start #####################*/
.background {
    position: fixed;
    display: block;
    width : 100%;
    height : 100%;
    
}
.img{
    width : 100%;
    height : 100%;
    background-image: url('https://raw.githubusercontent.com/heeyeon-developer/Portfolio_WEB/master/portfolio_FE/imges/laptop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.start{
    width: 100vw;
    height: 100vh;
    color: rgb(59, 87, 147);
    text-align: center;
    font-size: 2vw;
}
.wrap_start{
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-top: 15px;
    margin-left: 5px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
}

.start span{
    font-size: 50px;
    display: inline-block;
    text-align: center;
}
/*##################### top #####################*/
.top{
    position: fixed;
    width: 100%;
    z-index: 1;
    margin:0px auto;
    background-color: #fff;
    border-bottom: 1px solid rgb(182, 181, 181);
    opacity: 70%;
}
.title {
    font-size: 30px;
    display: inline-block;
    margin: 15px;
    margin-left: 30px;
    width: 20vw;
    text-align: left;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.wrap_menu {
    display: inline-block;
    margin: 15px;
    height: 30px;
    line-height: 30px;
    width:75vw;
    margin: 0 auto;
    position: relative;
} 
.menu {
    display: inline-block;
    width: 100vw;
    color: black;
    position: relative;
}
.menu a {
    font-size: 1.5rem;
    line-height: 30px;
    width: 100px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
}
.menu a:hover {
    position: relative;
    color: black;
    background-color: rgb(178, 236, 249);
}

/*##################### introduce #####################*/
.introduce {
    overflow: hidden;
    padding-top: 70px;
    margin: 0 auto;
    dislay: inline-block;
    border: 1px solid #000;
    height: 90vh;
    position: relative;
}

.about_wrap{
    width: 400px;
    height: 500px;
    border-radius: 15% 15%;
    background-color: rgb(225, 246, 250);
    opacity: 80%;
}
.introduce h2 {
    display: inline-block;
    font-size: 80px;
    width: 200px;
    text-align: center;
    margin-left:100px;
    margin-bottom: 20px;
    border: 1px solid #000;
    position: relative;
}
.think {
    position: relative;
    width: 500px;
    padding: 0;
    text-align: center;
    border: 1px solid #000;
    display: inline-block;
}
.score{
    padding-top: 200px;;
}

/*##################### skills #####################*/
.skills{
    margin-top: 20px;
    height: 90vh;
    border: 1px solid #000;
}
.skills li {
    display: block;
}

/*##################### study #####################*/
.study{
    margin-top: 20px;
    border: 1px solid #000;
    height: 90vh;
}

/*##################### exoerience #####################*/
.experience {
    margin-top: 20px;
    border: 1px solid #000;
    height: 90vh;
}