* {
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: right;
    list-style: none;
    position: relative;
}

li {
    display: inline-block;
    margin: auto;
    text-align: center;
}

/*##################### top #####################*/
.top{
    position: fixed;
    width: 100%;
    z-index: 1;
    margin:0px auto;
    background-color: rgb(217, 248, 255);
    opacity: 70%;
}
.title {
    display: inline-block;
    margin: 15px;
    width: 200px;
    text-align: left;
    height: 30px;
    line-height: 30px;
}
.wrap_menu{
    justify-content: flex-end;
    margin-left: auto;
    display: inline-block;

}
.menu {
    
    color: black;
    margin: 0;
    position: relative;
}
.menu a {
    line-height: 30px;
    width: 100px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
}
.menu a:hover {
    position: relative;
    color: black;
    background-color: rgb(178, 236, 249);
}

/*##################### introduce #####################*/

.introduce {
    overflow: hidden;
    padding-top: 70px;
    margin: 0 auto;
    dislay: inline-block;
    border: 1px solid #000;
    height: 90vh;
    position: relative;
}
.wrap{
    background-image: url('https://raw.githubusercontent.com/heeyeon-developer/Portfolio_WEB/master/portfolio_FE/imges/laptop.png');
    background-position: center;
    height: 100%;
}
.introduce h2 {
    display: inline-block;
    font-size: 80px;
    width: 200px;
    text-align: center;
    margin-left:100px;
    margin-bottom: 20px;
    border: 1px solid #000;
    position: relative;
}
.think {
    position: relative;
    width: 500px;
    padding: 0;
    text-align: center;
    border: 1px solid #000;
    display: inline-block;
}
.score{
    padding-top: 200px;;
}

/*##################### skills #####################*/
.skills{
    margin-top: 20px;
    height: 90vh;
    border: 1px solid #000;
}
.skills li {
    display: block;
}

/*##################### study #####################*/
.study{
    margin-top: 20px;
    border: 1px solid #000;
    height: 90vh;
}

/*##################### exoerience #####################*/
.experience {
    margin-top: 20px;
    border: 1px solid #000;
    height: 90vh;
}