h1{
    text-align: center;
    border: 1px solid #000;
    height: 200px;
    line-height: 200px;
}
li{
    list-style: none;
    border: 1px solid #000;
    position: relative;
}
ul{
    display: inline-block;
    margin: 30px 150px;
}